__pycache__/
*.pyc
.venv/
.env.local
.env

# Dependencies
**/node_modules/

# Build Outputs
**/.next/
**/dist/
**/build/
*.egg-info/

# Logs and System
*.log
**/.DS_Store

# Untracked/Deprecated
deprecated/
docs/general/
*.db
